llama-index 
llama-index-readers-web 
llama-index-embeddings-langchain 
llama-index-llms-huggingface 
llama-index-vector-stores-chroma
llama-index-embeddings-fastembed
llama-index-llms-huggingface-api

langchain 
langchain-openai
langchain-community
langchain-chroma
langchainhub

pypdf
chromadb